{{!-- pulled out of homepage --}}
<article class="post">
  <div class="title">
    <span>({{title}})</span>
    Created by {{user.username}} on {{format_date created_at}}
    {{!-- <a href="{{post_url}}" target="_blank">{{title}}</a> --}}
    <span>({{post_text}})</span>
    {{!-- <span>({{format_url post_url}})</span> --}}
  </div>
</article>